asn1crypto
cytoolz
sp
dill
spacy==2.0.11
h5py
mkl-fft
mkl-random
mkl-service
msgpack-numpy
pathlib
pox
pytorch-lightning
sacremoses
sentencepiece
scikit-image
tensorboard
tensorboard-plugin-wit
termcolor
thinc
tokenizers
transformers==4.12.5
ujson
wrapt
opencv-python
nibabel
h5py
seaborn
xlrd
rouge
openpyxl
albumentations
timm
scispacy
monai
MedPy
dicom2nifti
#ipykernel
tensorflow-gpu
PySoundFile
selenium
pandas
numpy
einops