asn1crypto==1.2.0
cytoolz==0.9.0.1
spacy==2.0.11
dill
h5py
mkl-fft
mkl-random
mkl-service
msgpack-numpy
pathlib
pox
pytorch-lightning
sacremoses
sentencepiece==0.1.91
tensorboard
tensorboard-plugin-wit
termcolor
thinc
tokenizers
transformers==4.12.5
ujson
wrapt
opencv-python==4.6.0.66
albumentations
scispacy
tensorflow-gpu
einops